*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
/* .row{

} */
.row::after{
    content: '';
    display: table;
    clear: both;
    width: 100%;
    height: 1px;
    border-top: 1px solid brown;
    border-bottom: 1px solid brown;
}
.row.col2 > div{
    width: 50%;
}
.row.col3 > div{
    width: 33.33333%;
}
.row.col4 > div{
    width: 25%;
}
.row.col5 > div{
    width: 100%;
}
.row .box{
    float: left;
    padding: 5px;
}
.row .box .bin{
    background-color: bisque;
    border: 1px solid brown;
}
.row .box .bin p{
    text-align: center;
}
img{
    width: 100%;
    height: auto;
}
.row .box .bin .img-conteiner{
    padding: 5px;
}
nav{
    width: 100%;
    display: block;
    background-color: cadetblue;
    padding: 0;
    margin: 0;
}

ul::after{
    content: '';
    display: table;
    clear: both;
}
ul{
    list-style: none;
    margin: 0 auto;
    width: 400px;
    display: block;
  
}
ul li{
    float: left;
    padding: 15px;
    color: whitesmoke;
    font-weight: bold;
    transition: all 300ms;
}
ul li:hover{
    background-color: tomato;
}
ul li a{
    color: whitesmoke;
    text-decoration: none;
}

.card button{
    display: block; 
    position: fixed; 
    width: 80px;
    height: 50px;
    bottom: 20px; 
    right: 30px;
    z-index: 99; 
    border: none; 
    outline: none;
    background-color: red; 
    color: white;
    border-radius: 10px; 
    font-size: 18px;
    transition: .5s all;
    
}
.card img {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    max-width: 80px;
    max-height: 50px;
    border-radius: 10px;
    z-index: 100;
    transition: .5s all;
}
.card:hover button{
    transform: rotate(360deg);
}
.card:hover img{
    display: block;
    transform: rotate(360deg);
}