header {
    height: 60px;
    background-color: darkkhaki;
    padding: 10px;
    /* overflow: hidden; */
    /* position: relative; */
    
}
header::after {
    display: table;
    content: '';
    clear: both;
}

header nav {
    float: left;
    margin-top: 10px;
    transition: all .5s;
}

header nav ul li{
    display: inline-block;
    padding: 0 7px;
}
header nav ul li a{
    color:black;
    line-height: 20px;
}
body {
    overflow-x: hidden;
}

#app {
    transition: all .5s;
    position: relative;
    left: 0;
}

@media screen and (max-width: 1000px) {
    #ham:checked + #app {
        left: -300px;
    }

    header nav {
        float: none;
        width: 300px;
        position: absolute;
        height: 100vh;
        top: 0;
        right: -300px;
        overflow: hidden;
        transition: all .5s;
        background-color: white;
        margin-top: 0;
        display: none;
    }

    #ham:checked + #app header nav {
        display: block;
    }

    header nav ul li{
        display: block;
        padding: 10px 7px;
        width: 100%;
        border-bottom: 1px solid black;
    }
    header nav ul li a {
        color:black;
        line-height: 22px;
        font-size: 22px;
    }
}




header ul.icons {
    float: right;
    margin-top: 10px;
}
header ul.icons li{
    display: inline-block;
    padding: 0 7px;
}

header ul.icons li a{
    color:gray;
    line-height: 20px;
}

header ul.icons li label{
    color:gray;
    line-height: 20px;
    cursor: pointer;
}

h1 {
    text-align: center;
    background-color: lightblue;
    padding: 30px;
    color:olive;
    font-size: 60px;
}
img {
    width: 100%;
    height: auto;
}

.gallery {
    letter-spacing: -.31em;
    font-size: 0;
}

.gallery .image {
    width: 33.33333%;
    display: inline-block;
}


header ul.icons li.hamburger {
    display: none;
}

@media screen and (max-width: 1000px) {
    header ul.icons li.hamburger {
        display: inline-block;
    }
}