*{
    box-sizing: border-box;
    outline: none;
}
body{
    margin: 0;
    background-color: blanchedalmond;
}
.container{
    width: 100%;
    padding: 30px;
    margin:  30px 0;
    border: 2px solid grey;
}
[name=tekstas2]{
    background-color: goldenrod;
}
input::placeholder{
    color: rebeccapurple;
    font-size: 10px;
}
input:active{
    border: 1px solid red;
}
/* input:focus{
    background-color: rosybrown;
} */